
body{
  height: 100vh;
  width: 100vw; 
   display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  .input-h3{
    display: none;
      #lugar-inp{
        border: none;
    }
    
  }
  .input-show{
display: flex;
  }

.asd{
  position:absolute;
  top: 2%;
  right: 2%;
  img{
    margin-top: -20%;
    max-width: 20px;
    width:fit-content;
  }
  }
  .footer{
    color: #000000;
    position:absolute;
    bottom: 1%;
    left: 1%;
    font-size: .6rem;
  }
}


  

.dark {
  /* Estilos para el tema oscuro */
  background-color: #333;
  color: #fff;
  #lugar-inp{
    border: none;
    background-color: #333;
  }
  .footer{
    color: #fff;
  }
}
